/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  font-size: 1.6rem;
  max-width: 1024px;
  margin: 0 auto;
}
@media (max-width:500px) {
  .container {
    width: 440px;
  }
}
@media (max-width:500px) {
  .services-container {
    width: 440px;
  }
}
p {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.8;
  font-size: 1.7rem;
}
h1 {
  font-weight: Bold;
  font-size: 3rem;
  margin-bottom: 3%;
}
h3 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: Bold;
  margin-bottom: 1%;
}
.nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #98a4af;
  padding: 1% 5%;
}
@media (max-width:500px) {
  .nav-bar {
    padding: 3% 5%;
  }
}
.nav-bar h2 {
  color: white;
  font-size: 3rem;
}
.nav-bar .active {
  display: flex;
}
.nav-bar img {
  display: none;
  z-index: 2;
  cursor: pointer;
  height: 27px;
}
.nav-bar .nav-tags {
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 39px;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.95;
  background-color: #99a4af;
}
.nav-bar .nav-tags a {
  font-size: 4rem;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.nav-bar .nav-tags a:hover {
  color: #504545;
}
.nav-bar .nav-tags a:first-child {
  margin-top: 37vh;
}
.hidden {
  display: none;
}
footer {
  background-color: #828282;
}
footer .footer {
  width: 100%;
  padding: 5% 0;
  font-family: "Roboto";
  margin-top: 6%;
  display: flex;
  justify-content: space-around;
}
@media (max-width:500px) {
  footer .footer {
    display: flex;
    flex-direction: column;
  }
}
footer .footer .email-content {
  width: 35%;
  line-height: 1.6;
}
@media (max-width:500px) {
  footer .footer .email-content {
    width: 100%;
    margin: 1% 0 0 5%;
  }
}
footer .footer .email-content .email-input {
  width: 77%;
  padding: 2% 0;
  font-size: 1.6rem;
  border-radius: 6px;
  margin-top: 1%;
}
footer .footer .new-york,
footer .footer .florida,
footer .footer .california {
  width: 14%;
  line-height: 1.6;
}
@media (max-width:500px) {
  footer .footer .new-york,
  footer .footer .florida,
  footer .footer .california {
    width: 100%;
    margin: 3% 0 0 5%;
  }
}
footer .footer p {
  color: #ffffff;
  font-size: 1.5rem;
}
footer .copyright {
  text-align: center;
  color: #ffffff;
}
@media (max-width:500px) {
  footer .copyright {
    text-align: left;
    margin-left: 5%;
  }
}
.main-image {
  position: relative;
}
.main-image .jumbotron-image {
  width: 1425px;
  max-width: 100%;
  height: 90vh;
}
@media (max-width:500px) {
  .main-image .jumbotron-image {
    height: 60vh;
  }
}
.main-image h2 {
  position: absolute;
  bottom: 0;
  bottom: 1%;
  left: 14%;
  letter-spacing: 2px;
  line-height: 1.9;
  color: #ffffff;
  font-size: 7rem;
  font-weight: bold;
}
@media (max-width:500px) {
  .main-image h2 {
    font-size: 4rem;
    left: 20px;
    bottom: 10px;
  }
}
.top-content .first-top-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4% 0;
}
@media (max-width:500px) {
  .top-content .first-top-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.top-content .first-top-content .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  margin: 3% 0;
}
@media (max-width:500px) {
  .top-content .first-top-content .text-content {
    width: 100%;
  }
}
.top-content .first-top-content .text-content p {
  line-height: 1.6;
}
.top-content .first-top-content .text-content .button {
  border: 1px solid #222222;
  width: 40%;
  padding: 4% 6%;
  text-align: center;
}
@media (max-width:500px) {
  .top-content .first-top-content .text-content .button {
    width: 100%;
    margin-top: 3%;
  }
}
.top-content .first-top-content img {
  width: 45%;
}
@media (max-width:500px) {
  .top-content .first-top-content img {
    width: 100%;
  }
}
.top-content .second-top-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  margin: 4% 0;
}
@media (max-width:500px) {
  .top-content .second-top-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.top-content .second-top-content .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  margin: 3% 0;
}
@media (max-width:500px) {
  .top-content .second-top-content .text-content {
    width: 100%;
  }
}
.top-content .second-top-content .text-content p {
  line-height: 1.6;
}
.top-content .second-top-content .text-content .button {
  border: 1px solid #222222;
  width: 40%;
  padding: 4% 6%;
  text-align: center;
}
@media (max-width:500px) {
  .top-content .second-top-content .text-content .button {
    width: 100%;
    margin-top: 3%;
  }
}
.top-content .second-top-content img {
  width: 45%;
}
@media (max-width:500px) {
  .top-content .second-top-content img {
    width: 100%;
  }
}
.middle-content h1 {
  margin-top: 7%;
}
.middle-content .middle-text-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.middle-content .middle-text-content .middle-button {
  width: 30%;
  padding: 3% 6%;
  text-align: center;
  letter-spacing: 0.7rem;
  background-color: #d8d8d8;
  font-size: 1.8rem;
  position: absolute;
  top: 36%;
}
@media (max-width:500px) {
  .middle-content .middle-text-content .middle-button {
    width: 90%;
    padding: 10% 15%;
    left: 5%;
    top: 27%;
    font-size: 2.8rem;
  }
}
.middle-content .middle-text-content .button1,
.middle-content .middle-text-content .button3 {
  left: 70%;
}
@media (max-width:500px) {
  .middle-content .middle-text-content .button1,
  .middle-content .middle-text-content .button3 {
    width: 90%;
    padding: 10% 15%;
    left: 5%;
    top: 27%;
    font-size: 2.8rem;
  }
}
.middle-content .middle-text-content .cover-image1 {
  background-image: url(../img/home/home-villas-img.png);
  height: 30vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 8% 0 8% 0;
}
@media (max-width:500px) {
  .middle-content .middle-text-content .cover-image1 {
    margin-bottom: 25%;
  }
}
.middle-content .middle-text-content p {
  width: 50%;
  text-align: justify;
  margin: 2% 25%;
}
@media (max-width:500px) {
  .middle-content .middle-text-content p {
    margin: 2% 15%;
    width: 70%;
  }
}
.middle-content .cover-image2 {
  background-image: url(../img/home/home-outskirts-img.png);
  height: 30vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 8% 0 8% 0;
}
@media (max-width:500px) {
  .middle-content .cover-image2 {
    margin-bottom: 25%;
  }
}
.middle-content .cover-image3 {
  background-image: url(../img/home/home-the-blocks-img.png);
  height: 30vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 8% 0 8% 0;
}
@media (max-width:500px) {
  .middle-content .cover-image3 {
    margin-bottom: 25%;
  }
}
.main-image .services-image {
  width: 1425px;
  max-width: 100%;
}
@media (max-width:500px) {
  .main-image .services-image {
    height: 45vh;
  }
}
.services-top-content {
  margin: 4% 0;
}
.tabs .tabs-links {
  display: flex;
  justify-content: space-between;
  margin: 2% 0 3% 0;
}
@media (max-width:500px) {
  .tabs .tabs-links {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.tabs .tabs-links .tabs-link {
  border: 2px solid #222222;
  padding: 2% 5%;
  font-size: 1.9rem;
  cursor: pointer;
}
@media (max-width:500px) {
  .tabs .tabs-links .tabs-link {
    padding: 5% 0 5% 0;
    margin-top: 3%;
  }
}
.tabs .tabs-links .tabs-link:hover {
  background-color: #5f9fb9;
  color: white;
}
.selected-link {
  background-color: #5f9fb9;
  color: white;
}
.tabs .tabs-items .tabs-item {
  display: none;
}
.tabs .tabs-items .selected {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  .tabs .tabs-items .selected {
    display: flex;
    flex-direction: column;
  }
}
.tabs .tabs-items .selected .tabs-item-content {
  width: 48%;
}
@media (max-width:500px) {
  .tabs .tabs-items .selected .tabs-item-content {
    width: 100%;
  }
}
.tabs .tabs-items .selected .tabs-item-content p {
  text-align: justify;
  line-height: 1.6;
}
.services-middle-images {
  margin-top: 6%;
}
@media (max-width:500px) {
  .services-middle-images {
    margin-left: 20px;
  }
}
